---
const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#6c3f99] text-[#e8e4ea]"
  },
  TAILWINDCSS: {
    name: "Tailwind CSS",
    class: "bg-[#6c3f99] text-[#e8e4ea]"
  },
  CSS: {
    name: "CSS",
    class: "bg-[#6c3f99] text-[#e8e4ea]"
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#6c3f99] text-[#e8e4ea]"
  },
  FRAMER: {
    name: "Framer",
    class: "bg-[#6c3f99] text-[#e8e4ea]"
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#6c3f99] text-[#e8e4ea]"
  },
  ADOBE: {
    name: "Adobe CC",
    class: "bg-[#6c3f99] text-[e8e4ea]"
  },
  ILLUSTRATOR: {
    name: "Illustrator",
    class: "bg-[#6c3f99] text-[e8e4ea]"
  },
  PHOTOSHOP: {
    name: "Photoshop",
    class: "bg-[#6c3f99] text-[e8e4ea]"
  },
  FIGMA: {
    name: "Figma",
    class: "bg-[#6c3f99] text-[#e8e4ea]"
  }
}
const PROJECTS = [
  {
    title: "Gonzz.Art - Design gallery",
    description:
      "Digital showcase of my design experimentation. Here I gather recommendations, books and showcase my merchandising.",
    link: "https://gonzz.art",
    image: "/projects/gonzzart.png",
    tags: [TAGS.ADOBE, TAGS.FIGMA, TAGS.FRAMER, TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Yorokobi Sushi - Branding & Website",
    description:
      "Designed a bold, stunning brand from the ground up. Created brand assets, logotype, brand guidelines, digital and printed materials.",
    link: "https://www.behance.net/gallery/196866463/Yorokobi-Sushi-Logo-Design?tracking_source=search_projects|gonzz&l=8",
    image: "/projects/yorokobi.png",
    tags: [TAGS.ADOBE, TAGS.FIGMA, TAGS.WORDPRESS, TAGS.FRAMER]
  },
  {
    title: "Don Monchis - Branding & Website",
    description:
      "We can have functional sites and products whitout them being total eye killers, right?. This is a minimalistic, personal blog where I talk about the design principles applied to the web. I gather resources, books and good practices.",
    link: "https://www.behance.net/gallery/196862755/Don-Monchis-Logo-Design?tracking_source=search_projects|gonzz&l=9",
    image: "/projects/donmonchis.png",
    tags: [TAGS.ILLUSTRATOR, TAGS.PHOTOSHOP, TAGS.FIGMA, TAGS.WORDPRESS],
  },
  {
    title: "muchotexto.site - Blog",
    description:
      "We can have functional sites and products whitout them being total eye killers, right?. This is a minimalistic, personal blog where I talk about the design principles applied to the web. I gather resources, books and good practices.",
    link: "https://muchotexto.site",
    github: "https://github.com/gonzzdev/design-guidelines",
    image: "/projects/muchotexto.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT]
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div 
        class="relative flex flex-col items-center 
        col-span-6 row-span-5 gap-8 
        transition duration-500 ease-in-out transform 
        shadow-xl overflow-clip rounded-xl 
        sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl 
        lg:border lg:border-[#0f0c11] lg:hover:border-[#ff9933]/50 lg:hover:bg-gray-800/50">

      <a href={link} target="_blank" rel="noopener">
        <img alt="Project screenshot" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </a>
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-[#e8e4ea] dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-1">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-[#e8e4ea] dark:text-gray-400">{description}</div>

    </div>
  </div>
</article>
    ))
  }
</div>


