---
const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#3a333f] text-[#e8e4ea]"
  },
  TAILWINDCSS: {
    name: "Tailwind CSS",
    class: "bg-[#3a333f] text-[#e8e4ea]"
  },
  CSS: {
    name: "CSS",
    class: "bg-[#3a333f] text-[#e8e4ea]"
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#3a333f] text-[#e8e4ea]"
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#3a333f] text-[#e8e4ea]"
  },
  FRAMER: {
    name: "Framer",
    class: "bg-[#3a333f] text-[#e8e4ea]"
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#3a333f] text-[#e8e4ea]"
  },
  ADOBE: {
    name: "Adobe CC",
    class: "bg-[#3a333f] text-[e8e4ea]"
  },
  FIGMA: {
    name: "Figma",
    class: "bg-[#3a333f] text-[#e8e4ea]"
  }
}

// Add muchotexto.site project

const PROJECTS = [
  {
    title: "StreamByte - Frontend Blog",
    description:
      "Design & Frontend Development for everybody. This is my personal blog where I share my progress, tools and resources to help other self-taught developers.",
    link: "https://github.com/gonzzdev",
    image: "/projects/streambyte.webp",
    tags: [TAGS.ADOBE, TAGS.HTML, TAGS.TAILWINDCSS, TAGS.JAVASCRIPT, TAGS.ASTRO],
  },
  {
    title: "Yorokobi Sushi - Asian Snacks",
    description:
      "Asian food shop located in Puerto Vallarta, MX. The best rolls and fried rice of the bay. Also selling top asian candies and snacks.",
    link: "https://www.behance.net/gallery/196866463/Yorokobi-Sushi-Logo-Design",
    image: "/projects/yorokobi.webp",
    tags: [TAGS.ADOBE, TAGS.FIGMA, TAGS.FRAMER]
  },
  {
    title: "Don Monchis - Pollo & Papas",
    description:
      "Chicken & Fries, that's all Don Monchis needs to captivate its target audience and win their hearts, and their arteries.",
    link: "https://www.behance.net/gallery/196862755/Don-Monchis-Logo-Design?tracking_source=search_projects|gonzz&l=9",
    image: "/projects/donmonchis.webp",
    tags: [TAGS.ADOBE, TAGS.FIGMA, TAGS.WORDPRESS]
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div 
        class="relative flex flex-col items-center 
        col-span-6 row-span-5 gap-8 
        transition duration-500 ease-in-out transform 
        shadow-xl overflow-clip rounded-xl 
        sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl 
        lg:border-[2px] lg:border-[#0f0c11] lg:hover:border-[#ff9933]/50 lg:hover:bg-gray-800/50">

      <a href={link} target="_blank" rel="noopener">
        <img alt="Project screenshot" class="object-cover object-top w-full sm:w-fit h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </a>
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-[#0f0c11] dark:text-[#e8e4ea]">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-1">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-[#0f0c11] font-semibold dark:text-[#e8e4ea]/80">{description}</div>

    </div>
  </div>
</article>
    ))
  }
</div>


