---
import Button from "./Button.astro"

const TAGS = {
  HTML: {
    name: "HTML",
    class: "text-[#0f0c11] border-2 border-[#6c3f99] hover:bg-[#e34f26] hover:border-transparent hover:text-[#e8e4ea] hover:scale-105 transition duration-200 dark:text-[#e8e4ea]"
  },
  CSS: {
    name: "CSS",
    class: "text-[#0f0c11] border-2 border-[#6c3f99] hover:bg-[#264de4] hover:border-transparent hover:text-[#e8e4ea] hover:scale-105 transition duration-200 dark:text-[#e8e4ea]"
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "border-2 border-[#6c3f99] text-[#0f0c11] hover:bg-[#F0DB4F] hover:border-transparent hover:text-[#0f0c11] hover:text-[#0f0c11] hover:scale-105 transition duration-200 dark:text-[#e8e4ea]"
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "border-2 border-[#6c3f99] text-[#0f0c11] hover:bg-[#3178c6] hover:border-transparent hover:text-[#e8e4ea] hover:scale-105 transition duration-200 dark:text-[#e8e4ea]"
  },
  TAILWINDCSS: {
    name: "TailwindCSS",
    class: "border-2 border-[#6c3f99] text-[#0f0c11] hover:bg-[#3B82F6] hover:border-transparent hover:text-[#e8e4ea] hover:scale-105 transition duration-200 dark:text-[#e8e4ea]"
  },
  ASTRO: {
    name: "Astro",
    class: "border-2 border-[#6c3f99] text-[#0f0c11] hover:bg-[#0f0c11] hover:border-transparent hover:text-[#e8e4ea] hover:scale-105 transition duration-200 dark:text-[#e8e4ea]"
  },
  NEXT: {
    name: "NEXT.js",
    class: "border-2 border-[#6c3f99] text-[#0f0c11] hover:bg-[#030303] hover:border-[#e8e4ea] hover:text-[#e8e4ea] hover:scale-105 transition duration-200 dark:text-[#e8e4ea]"
  },
}

const PROJECTS = [
  {
    title: "StreamByte (Working on it)",
    description:
      "Learn frontend development with real and professional projects.",
    link: "https://streambyte.mx",
    image: "/projects/streambyte.webp",
    tags: [TAGS.NEXT, TAGS.TAILWINDCSS, TAGS.TYPESCRIPT],
  },
  {
    title: "malditojefe.chat",
    description:
      "Chatbot game featuring an angry boss asking you to work in your vacations.",
    link: "https://malditojefe-chat.vercel.app/",
    image: "/projects/malditojefe.png",
    tags: [TAGS.NEXT, TAGS.TAILWINDCSS, TAGS.TYPESCRIPT],
  },
  {
    title: "Typing speed test",
    description:
      "A minimal typing test game. Test your speed and improve your typing skills.",
    link: "https://gonzzdev.github.io/typing-game-v1/",
    image: "/projects/typetest.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
]
---

<div class="flex flex-col gap-y-12">
  {
    PROJECTS.map(({ image, title, description, tags, link }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div 
        class="relative flex flex-col items-center 
        col-span-6 row-span-5 gap-8 
        transition duration-500 ease-in-out transform 
        shadow-xl overflow-clip rounded-lg 
        sm:rounded-xl md:group-hover:translate-x-2 md:group-hover:shadow-2xl 
        lg:border-[2px] lg:border-[#0f0c11] lg:hover:border-[#6c3f99]/50 lg:hover:bg-gray-800/50">

      <a href={link} target="_blank" rel="noopener">
        <img alt="Project screenshot" class="object-cover object-top w-full sm:w-fit h-56 transition duration-500 sm:h-full md:scale-100 md:group-hover:scale-125" src={image} />
      </a>
    </div>
  </div>

  <div class="w-full bg-[#17131A]/10 border-2 border-[#e8e4ea]/10 rounded-lg pt-4 px-4 md:w-1/2 md:max-w-lg dark:bg-[#17131A]">
    <h3 class="text-2xl font-bold text-[#0f0c11] dark:text-[#e8e4ea]">
      {title}
    </h3>
    <div class="flex flex-wrap">
      <div class="mt-2 text-[#0f0c11] font-medium dark:text-[#e8e4ea]/80">{description}</div>
      <ul class="flex flex-row mt-20 gap-x-1 mb-6">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex mr-1 rounded-full text-xs font-medium ${tag.class} py-1.5 px-2 whitespace-nowrap `}
              >
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

    </div>
  </div>
</article>
    ))
  }
</div>

